@model DECKMASTER.ViewModels.UserRoleVM

<h4 style="color:#6E0B14; ">Assign User Role</h4>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-antiforgery="true" />
            <div class="form-group">
                <label asp-for="Email" class="control-label" style="color:#6E0B14;"></label>
                @Html.DropDownList("Email",
                new SelectList(ViewBag.UserSelectList, "Value", "Text",
                ViewBag.SelectedUser),
                "Select User", new { @id = "email", @class = "form-control" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label" style="color:#6E0B14;"></label>
                @Html.DropDownList("RoleName",
                new SelectList(ViewBag.RoleSelectList, "Value", "Text"),
                "Select Role", new { @id = "roleName", @class = "form-control" })
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="hidden" asp-for-"Email" value="Email" />
                <input type="hidden" asp-for-"RoleName" value="RoleName" />
                <button style="background-color:#6E0B14; color:white;" id="assignUserRole" type="submit"
                        class="w-100 btn btn-sm">
                    Assign
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
