@model DECKMASTER.ViewModels.RoleVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#6E0B14; ">Create</h1>

@* <h4>RoleVM</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-antiforgery="true" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label" style="color:#6E0B14; "></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn" style="background-color:#6E0B14; color:white;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:#6E0B14; ">Back to Roles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
